<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>LISTADO CAS</title>
    </h:head>
    <h:body>
        Bienvenidos a nuestra aplicación
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <f:view>
            <h:form>
                <p:outputLabel for="name" value="Usuario"></p:outputLabel>
                <p:inputText id="name" value="#{prueba.nombre}"></p:inputText>
                <p:outputLabel for="name" value="Contraseña"></p:outputLabel>
                <p:password id="contraseña" value="#{prueba.contraseña}"></p:password>
                <p:message for="name"></p:message>
                <p:commandButton action ="#{vacanteForm.enviar}" value="Enviar"></p:commandButton>
            </h:form>
        </f:view>
        <f:view>
            <h:form>
                 <h:outputLabel for="name" value="nombre"></h:outputLabel>
                <h:inputText id="name" value="#{prueba.nombre}"></h:inputText>
                <h:button value="enviar"></h:button>
            </h:form>
        </f:view>
    </h:body>
</html>

