<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>LISTADO CAS página1</title>
    </h:head>
    <h:body>
        <center>
        <h1>Unidad Educativa Fiscal </h1>
        <h1>"Leonidas Garcia"</h1>
        </center>
        <img src="img/logo_LG.png" alt="Leonidas Garcia" width="300" height="200" align="left"/>   
        <img src="img/logo_CAS_2016.jpg" alt="Leonidas Garcia"  width="300" height="200" align="right"/>  
        <style type="text/css">
            #Menu {
                padding: 0px;
            }
            #Menu li {
                display: inline;
                font-family: Arial;
                font-size: 15px;
                text-decoration: none;
                float: left;
                padding: 30px;
                background-color: #505050;
                color: #ffffff;
                
             
            }
            
        </style>
        <center> 
        <table border="1">
            <tr>
                
       <ul id="Menu">
           
           <td>
           <li>Inicio</li>
           </td>
              
              
           <td>
            <li>Ingresar registro</li>
            </td>
                  
         
            <td>
            <li>Curso</li>
            </td>
                 
           
            <td>
            <li>Docente</li>
            </td>
               
             
            <td>
            <li>Reporte</li>
            </td>
            
            
            <td>
            <li>Contacto</li>
            </td>
                
            
                   
           </ul> 
            </tr>

        </table>
            <form>
                Nombre:    
                <outputLabel for="nombre" value="Usuario"></outputLabel>
                <input type="text" id="nombre" value="&nbsp;"></input><br></br>
                Contraseña:     
                     <outputLabel for="password" value="contraseña"></outputLabel>
                         <input type="Text" value="&nbsp;"></input><br></br>
                         <input type="submit" value="INGRESAR"></input>
              </form>
            
        </center>
          <br/>

    </h:body>
</html>

