<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title> pagina 4 </title>
    </h:head>
    <h:body>
         <center>
             <img src="img/logo_LG.png" alt="Leonidas Garcia" width="300" height="200" align="left"/>
             <img src="img/logo_CAS_2016.jpg" alt="Leonidas Garcia"  width="300" height="200" align="right"/>
            <h1>Unidad Educativa Fiscal </h1>
            <h1>"Leonidas Garcia"</h1>
               
        </center>
        <center> <h2><strong>Bienvenido al sistema de control de asistencia de Cas</strong></h2> </center> 

         
        <form>
            Docente: 
            <outputLabel for="nombre" value="NOMBRE"></outputLabel>
            <input type="text" id="nombre" value="&nbsp;">                 
            </input>
            <br></br>

            Año lectivo:
            <outputLabel for="Año lectivo" value="Año lectivo">                   
            </outputLabel>
            <input type="text" id="Año lectivo" value="&nbsp;">                  
            </input>
            <br></br>              
        </form>
        <br></br>
        <center> <table border="1">
                <tr>
                    <th>&emsp;&emsp;&emsp;Cédula&emsp;&emsp;&emsp;</th>
                    <th>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Alumno&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</th>
                </tr>
                <tr>
                    <th>&emsp;&emsp;&emsp;</th>
                    <th>&emsp;&emsp;&emsp;</th>   
                </tr>
                <tr>
                    <th>&emsp;&emsp;&emsp;</th>
                    <th>&emsp;&emsp;&emsp;</th>
                </tr>
                <tr>
                    <th>&emsp;&emsp;&emsp;</th>
                    <th>&emsp;&emsp;&emsp;</th>
                </tr>
                <tr>
                    <th>&emsp;&emsp;&emsp;</th>
                    <th>&emsp;&emsp;&emsp;</th>   
                </tr>
                <tr>
                    <th>&emsp;&emsp;&emsp;</th>
                    <th>&emsp;&emsp;&emsp;</th>   
                </tr>
                <tr>
                    <th>&emsp;&emsp;&emsp;</th>
                    <th>&emsp;&emsp;&emsp;</th>   
                </tr>
                <tr>
                    <th>&emsp;&emsp;&emsp;</th>
                    <th>&emsp;&emsp;&emsp;</th>   
                </tr>
                <tr>
                    <th>&emsp;&emsp;&emsp;</th>
                    <th>&emsp;&emsp;&emsp;</th>   
                </tr>
                <tr>
                    <th>&emsp;&emsp;&emsp;</th>
                    <th>&emsp;&emsp;&emsp;</th>   
                </tr>
                <tr>
                    <th>&emsp;&emsp;&emsp;</th>
                    <th>&emsp;&emsp;&emsp;</th>   
                </tr>
                <tr>
                    <th>&emsp;&emsp;&emsp;</th>
                    <th>&emsp;&emsp;&emsp;</th>   
                </tr>
                <tr>
                    <th>&emsp;&emsp;&emsp;</th>
                    <th>&emsp;&emsp;&emsp;</th>   
                </tr>
                <tr>
                    <th>&emsp;&emsp;&emsp;</th>
                    <th>&emsp;&emsp;&emsp;</th>   
                </tr>
                <tr>
                    <th>&emsp;&emsp;&emsp;</th>
                    <th>&emsp;&emsp;&emsp;</th>   
                </tr>
                <tr>
                    <th>&emsp;&emsp;&emsp;</th>
                    <th>&emsp;&emsp;&emsp;</th>   
                </tr>
                <tr>
                    <th>&emsp;&emsp;&emsp;</th>
                    <th>&emsp;&emsp;&emsp;</th>   
                </tr>
                
            </table></center>
        <br></br>
       
    </h:body>
</html>

