<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>PÁGINA 2</title>
    </h:head>
    <h:body>
         <center>
             <img src="img/logo_LG.png" alt="Leonidas Garcia" width="300" height="200" align="left"/>
            <img src="img/logo_CAS_2016.jpg" alt="Leonidas Garcia"  width="300" height="200" align="right"/>     
            <h1>Unidad Educativa Fiscal </h1>
            <h1>"Leonidas Garcia"</h1>
            <h1><strong>Bienvenido al sistema de control de asistencia de Cas</strong></h1> 
        </center>
    </h:body>
</html>

