<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Página 5</title>
    </h:head>
    <h:body>
        <img src="img/logo_LG.png" alt="Leonidas Garcia" width="300" height="200" align="left"/>
        <img src="img/logo_CAS_2016.jpg" alt="Leonidas Garcia"  width="200" height="150" align="right"/>
        <center>
        <h1>Unidad Educativa Fiscal </h1>
        <h1>"Leonidas Garcia"</h1>
        </center>
        <center>
        <h3>LISTADO DE ASISTENCIA DEL C.A.S Año lectivo 2019-2020</h3>
        </center><br></br>
        <h3>DOCENTE:&emsp;&emsp;&emsp;&emsp;&emsp; </h3> 
        <h3>CURSO:</h3>
        <h3>AÑO LECTIVO:</h3>
       <center> <table border="2">
               <tr>
                
  <th>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Alumnos&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</th>
  <th>&emsp;&emsp;Fecha1&emsp;&emsp;</th>
  <th>&emsp;&emsp;Fecha2&emsp;&emsp;</th>
  <th>&emsp;&emsp;Fecha3&emsp;&emsp;</th>
  <th>&emsp;&emsp;Fecha4&emsp;&emsp;</th>
  <th>&emsp;&emsp;Fecha5&emsp;&emsp;</th>
   
 
                 </tr>
     <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
                    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
                    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
                    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
                    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
                    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
                    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
                    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
                    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
                    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
                    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
                    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
                    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>     <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
          <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
          <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
          <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
          <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
          <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
          <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
          <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
          <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
          <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
          <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
          <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
          <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
          <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
     </tr>
               
       
        
   
               
    </table></center>   
    </h:body>
</html>

