<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Página 3</title>
    </h:head>
    <h:body>
      <img src="img/logo_LG.png" alt="Leonidas Garcia" width="300" height="200" align="left"/>   
        <img src="img/logo_CAS_2016.jpg" alt="Leonidas Garcia"  width="300" height="200" align="right"/>
        <center>
            <h1>Unidad Educativa Fiscal</h1>
            <h1>"Leonidas García"</h1>
        </center>  
        <center> DOCENTE </center>
        
            <form>
                NOMBRE: 
                <outputLabel for="nombre" value="NOMBRE"></outputLabel>
                <input type="text" id="nombre" value="&nbsp;"></input><br></br>
                USUARIO:
                 <outputLabel for="usuario" value="USUARIO"></outputLabel>
                 <input type="text" id="usuario" value="&nbsp;"></input><br></br>
                 CLAVE &nbsp;: 
                 <outputLabel for="clave" value="CLAVE"></outputLabel>
                 <input type="Text" id="clave" value="&nbsp;"></input><br></br>
                 <center><input type="submit" value="REGISTRAR"></input></center>
            </form>
    </h:body>
</html>

